<!DOCTYPE html>
<html>
<body>
    <h1>Generador de Facturas SADV41</h1>
    <form action="/generar" method="POST">
        <input type="text" name="cliente" placeholder="Nombre Cliente">
        <input type="number" name="total" placeholder="Total">
        <button type="submit">Generar PDF</button>
    </form>

    <!-- Enlace directo para enviar a WhatsApp -->
    <a href="https://wa.me/50769362166?text=Hola,%20adjunto%20factura%20generada%20por%20SADV41" target="_blank">
        <button style="background-color: #25D366; color: white;">Enviar por WhatsApp</button>
    </a>
</body>
</html>
